# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS files
Thumbs.db
Desktop.ini

# Local environment
.env

# Local database files
/data/*.db
/data/*.sqlite
/data/*.sqlite3

# Logs
*.log
